/* body, html {
    /* background-color: orange; */
/* } */ 
.logo-text{
   
    width: 150px;
    text-align: center;
    position:relative;
    bottom: 50px;
    left: 50px;
}
.logo {
    width: 50px;
}

.nav-link:hover {
    color: #af9c77 !important;
    text-decoration: dotted;
}
.jumbotron {
    position: relative;
    height: 550px;
    z-index:1;
    margin-bottom: 10rem;

    
    
    

}

.jumbotron h1, p, h2{
    color: rgb(3, 3, 3);
    padding-top: 30px;

}



.jumbotron::before {
    content: "";
    background-image: url("../images/vermont.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    opacity: 0.28;
    width:100%;
    height: 100%;
    z-index: -1;
    top:0;
    left:0;
    margin-bottom: 6rem;
    
}

.jumbotron .btn-primary{
    background-color: #81570d;
    border:#c7b187;
    
}

.jumbotron .btn-primary:hover{
    background-color: #ad8242;
    border:#c7b187;
    
}

.card {
    /* gap: 40px; */
    width: 100%;
    height: 95%;
    margin-top: 20px;
    
}

.card-img {
max-height: 340px;
}

/*Destination page */

ul li {
list-style-type: none;
}



.carousel-img {
    max-height: 372;
}

#destinations-div h2 {
    padding-bottom: 60px;
}


.d-block {
    min-height: 400px; 
    max-width: 500px;
    border-radius: 10px;
    max-height:400px;
}


/* Events page */
.agents-img {
   max-width: 800px; 
   max-height: 500px;
   border-radius: 20px;
}