/* body, html {
    /* background-color: orange; */
/* } */ 

.jumbotron {
    position: relative;
    height: 400px;
    z-index:1;
    margin-bottom: 10rem;

    
    
    

}

.jumbotron h1, p, h2{
    color: rgb(3, 3, 3);

}



.jumbotron::before {
    content: "";
    background-image: url("../images/vermont.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    opacity: 0.35;
    width:100%;
    height: 100%;
    z-index: -1;
    top:0;
    left:0;
    margin-bottom: 6rem;
    
}

.card {
    
    width: 500px;
    height: 500px;
    margin-top: 20px;
}




